body {
background-image:url(../images/pattern.png);
padding:0;
margin:10px 0;
font:12px Verdana,sans-serif;
}

#header {
width:1000px;
height:200px;
margin:0 auto 25px auto;
padding:0;
outline:0px solid #faa21a;
}

#navigation {
width:1000px;
height:55px;
margin:0 auto;
padding:0;
outline:0px solid #cc0000;
}

#buttonsOfNavi {
height:50px;
margin-top:-52px;
outline:0px solid #cc00cc;
}

#button4 {padding-left:785px;margin-top:-50px;}
#button3 {padding-left:535px;margin-top:-50px;}
#button2 {padding-left:285px;margin-top:-50px;}
#button1 {padding-left:35px;}

#menu {
width:1000px;
margin:0 auto;
padding:0;
outline:0px solid #00cccc;
}

#menu1lvl {
width:150px;
height:256px;
margin-left:252px;
outline:0px solid #cccc00;
}

#menu2lvl {
width:150px;
height:111px;
margin-left:404px;
margin-top:-151px;
outline:0px solid #00cccc;
}

#content {
width:1000px;
height:502px;
margin:25px auto 0 auto;
padding:0;
outline:0px solid #cc0000;
background-image:url(../images/body.png);
}

#contentform {
width:317px;
padding-top:20px;
margin:0 auto;
outline:0px solid #00cc00;
color:#ffffff;
}

textarea {
max-width:315px;
max-height:150px;
min-width:315px;
min-height:150px;
margin:2px 0;
border:1px solid #333333;
background:#aaaaaa;
}

textarea:focus {
border:2px solid #1351b4;
background-color:#ffffff;
max-width:313px;
max-height:148px;
min-width:313px;
min-height:148px;
}

.input {
border:1px solid #333333;
height:27px;
background-color:#aaaaaa;
width:300px;
line-height:27px;
padding:0 7px;
}

.input:focus {
border:2px solid #1351b4;
background:none;
background-color:#ffffff;
height:25px;
width:298px;
}

label {
cursor:pointer;
}

#buttons {
margin-left:158px;
}