body {
background-image:url(../images/pattern.png);
padding:0;
margin:10px 0;
font:14px Verdana,sans-serif;
color:#ffffff;
}

#header {
width:1000px;
height:200px;
margin:0 auto 1px auto;
padding:0;
outline:0px solid #faa21a;
}

#navigation {
width:1000px;
height:95px;
margin:0 auto;
padding:0;
outline:0px solid #cc0000;
}

#buttonsOfNavi {
height:50px;
margin-top:-52px;
outline:0px solid #cc00cc;
}

#button4 {padding-left:785px;margin-top:-50px;}
#button3 {padding-left:535px;margin-top:-50px;}
#button2 {padding-left:285px;margin-top:-50px;}
#button1 {padding-left:35px;}

#menu {
width:1000px;
margin:0 auto;
padding:0;
outline:0px solid #00cccc;
}

#menu1lvl {
width:150px;
height:256px;
margin-left:252px;
outline:0px solid #cccc00;
}

#menu2lvl {
width:150px;
height:111px;
margin-left:404px;
margin-top:-151px;
outline:0px solid #00cccc;
}

#content {
width:1000px;
height:1682px;
margin:25px auto 0 auto;
padding:0;
outline:0px solid #cc0000;
}

#top {
width:inherit;
height:16px;
outline:0px solid #00cc00;
background-image:url(../images/body_ps_top.png);
margin:0;
padding:0;
}

#bottom {
width:inherit;
height:16px;
outline:0px solid #cccc00;
background-image:url(../images/body_ps_bottom.png);
margin:0;
padding:0;
}

#mid {
width:inherit;
height:1652px;
outline:0px solid #cccc00;
background-image:url(../images/body_ps_mid.png);
padding:0;
margin:0;
}

#contenttext {
width:900px;
padding-top:20px;
margin:0 auto;
outline:0px solid #cc0000;
}

.textHeader {
padding:0 15px;
margin:0;
outline:0px solid #faa21a;
font-size:22px;
text-align:center;
font-weight:bold;
}

p  ul{
padding:0 15px;
margin:0;
}

li {
list-style:inside url(../images/arrow.png);
}

p {
text-indent:10px;
}

#introBold {
font-weight:bold;
color:#cc0000;
}

#books {
width:960px;
padding-top:20px;
margin:0 auto;
outline:0px solid #00cc00;
}

#cdBook {
width:470px;
outline:0px solid #cc0000;
position:absolute;
}

#img1 {
width:240px;
height:350px;
outline:0px solid #ccc000;
}

#txt1 {
width:220px;
outline:0px solid #0cccc0;
font-size:12px;
margin-left:250px;
margin-top:-360px;
}

#readMore1 {
margin-top:28px;
margin-left:335px;
outline:0px solid #00ff00;
width:135px;
}

#psBook {
width:470px;
outline:0px solid #cc0000;
margin-left:490px;
margin-top:0;
position:absolute;
}

#img2 {
width:240px;
height:351px;
outline:0px solid #ccc000;
}

#txt2 {
width:220px;
outline:0px solid #0cccc0;
font-size:12px;
margin-left:250px;
margin-top:-360px;
}

#readMore2 {
margin-top:10px;
margin-left:337px;
outline:0px solid #00ff00;
width:135px;
}

#cdBook p.textHeader, #psBook p.textHeader {
font-size:18px;
color:#cc0000;
padding-bottom:40px;
}

#books p.textHeader {
padding-bottom:40px;
}

a:link, a:visited {
border-bottom:0px solid #cc0000;
color:#cc0000;
}

a:hover {
border-bottom:0px solid #cc0000;
color:#00cc00;
}

a:active {
border-bottom:0px solid #cc0000;
color:#cc00cc;
}

#flood p {
padding-bottom:60px;
visibility:hidden;
}

#ps_cd_books {
width:960px;
outline:0px solid #ffff00;
position:absolute;
margin-left:20px;
}

#textHeader_1 {
padding-top:50px;
}

#txt1 p, #txt2 p {
line-height:16px;
}