body {
background-image:url(../images/pattern.png);
padding:0;
margin:10px 0;
font:12px Verdana,sans-serif;
color:#ffffff;
}

#header {
width:1000px;
height:200px;
margin:0 auto 25px auto;
padding:0;
outline:0px solid #faa21a;
}

#navigation {
width:1000px;
height:55px;
margin:0 auto;
padding:0;
outline:0px solid #cc0000;
}

#buttonsOfNavi {
height:50px;
margin-top:-52px;
outline:0px solid #cc00cc;
}

#button4 {padding-left:785px;margin-top:-50px;}
#button3 {padding-left:535px;margin-top:-50px;}
#button2 {padding-left:285px;margin-top:-50px;}
#button1 {padding-left:35px;}

#menu {
width:1000px;
margin:0 auto;
padding:0;
outline:0px solid #00cccc;
}

#menu1lvl {
width:150px;
height:256px;
margin-left:252px;
outline:0px solid #cccc00;
}

#menu2lvl {
width:150px;
height:111px;
margin-left:404px;
margin-top:-151px;
outline:0px solid #00cccc;
}

#toSubctg {
position:fixed;
margin:-10px 0 0 0;
padding:0;
}

#content {
width:1000px;
height:552px;
margin:25px auto 0 auto;
padding:0;
outline:0px solid #cc0000;
}

#top {
width:inherit;
height:16px;
outline:0px solid #00cc00;
background-image:url(../images/body_ps_top.png);
margin:0;
padding:0;
}

#bottom {
width:inherit;
height:16px;
outline:0px solid #cccc00;
background-image:url(../images/body_ps_bottom.png);
background-repeat:no-repeat;
margin:0;
padding:0;
}

#mid {
width:inherit;
height:590px;
outline:0px solid #cccc00;
background-image:url(../images/body_ps_mid.png);
padding:0;
margin:0;
}

#contentText {
position:absolute;
width:1000px;
padding-top:20px;
margin:0 auto;
outline:0px solid #00cc00;
}

.CDVideo {
padding:0 10px 0 115px;
width:220px;
outline:0px solid #faa21a;
}

#thdPart {
margin-left:560px;
position:absolute;
width:220px;
outline:0px solid #cc00cc;
}

#secondPart {
margin-left:280px;
position:absolute;
width:220px;
outline:0px solid #00cc00;
}

#firstPart {
position:absolute;
width:220px;
outline:0px solid #cc0000;
}

p {
text-align:center;
font-weight:bold;
}

#title {
font:22px bold;
color:#cc0000;
}

#cdNavigation {
margin-top:450px;
}

a:link, a:visited {
border-bottom:0px solid #cc0000;
color:#cc0000;
}

a:hover {
border-bottom:0px solid #cc0000;
color:#00cc00;
}

a:active {
border-bottom:0px solid #cc0000;
color:#cc00cc;
}

#flood p {
padding-bottom:60px;
visibility:hidden;
}